{% extends "base.html" %}

{% block title %}Dashboard Principal{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-black  mb-3">
                <div class="card-header">Boxes Disponibles</div>
                <div class="card-body">
                    <h5 class="card-title">{{ box_disponibles }}</h5>
                    <p class="card-text">Cantidad de boxes disponibles actualmente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black mb-3">
                <div class="card-header">Boxes Ocupados</div>
                <div class="card-body">
                    <h5 class="card-title">{{box_ocupados }}</h5>
                    <p class="card-text">Cantidad de boxes ocupados actualmente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black mb-3">
                <div class="card-header">Boxes No Disponibles</div>
                <div class="card-body">
                    <h5 class="card-title">{{ box_no_disponibles }}</h5>
                    <p class="card-text">Cantidad de boxes no disponibles actualmente.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'box_list' %}" class="btn btn-primary">Detalle</a>
    </div>
</div>
{% endblock %}