{% extends "base.html" %}
{% block content %}
<div class = "text-center">
    <h1><strong>Detalle Box {{ box.numerobox }}</strong></h1>
</div>

<p><strong>Estado:</strong> {{ box.estadobox_idestadobox.nombre }}</p>

<h2>Horas Totales por Doctor:</h2>
<ul>
    {% for doctor, horas in horas_por_doctor.items %}
    <li><strong>{{ doctor }}:</strong> {{ horas }}</li>
    {% endfor %}
</ul>

<div class="text-center ">
    <h2><strong>Ocupaciones</strong></h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Fecha</th>
            <th>Horario</th>
        </tr>
    </thead>
    <tbody>
        {% for ocupacion in ocupaciones %}
        <tr>
            <td>{{ ocupacion.profesional.nombre }}</td>
            <td>{{ ocupacion.fechaasignacion }}</td>
            <td>{{ ocupacion.horarioinicio }} - {{ ocupacion.horariofin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a href="{% url 'box_list' %}" class="btn btn-primary">Volver</a>
</div>

{% endblock %}