{% extends "base.html" %}

{% block title %}Dashboard Principal{% endblock %}
{% block content %}
<style>
  .bg-disponible {
    background-color: #a3c4f7;
    color: black !important;
  }
  .bg-ocupado {
    background-color: #5371d6;
    color: white !important;
  }
  .bg-no-disponible {
    background-color: #a3a9f7;
    color: black !important;
  }
  .chart-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .hover-effect {
    transition: all 0.3s ease;
    color: black;
  }
  .hover-effect:hover {
    transform: scale(1.02);
  }
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  /* Pie chart más chico */
  #boxChart {
    max-width: 500px;
    margin: 0 auto;
  }

  @media (max-width: 767.98px) {
    .order-mobile-1 {
      order: 1;
    }
    .order-mobile-2 {
      order: 2;
    }
  }
</style>

<h1 class="display-4 text-center fw-semibold mb-4 mt-3 hover-effect">
  Dashboard Principal
</h1>

<div class="container mt-4">
  <div class="row gx-4 gx-md-5">
    <div class="col-12 col-lg-6 order-mobile-2 mb-4">
      <h2 class="text-center">Ocupación por Intervalos</h2>
      <div class="chart-container">
        <canvas id="graficoOcupacion"></canvas>
      </div>
      <h2 class="text-center">Top 5 Box con menor ocupación</h2>
      <div class="chart-container">
        <canvas id="topBoxesChart"></canvas>
      </div>
    </div>

    <div class="col-12 col-lg-6 order-mobile-1">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <a href="{% url 'box_list' %}?estadobox_idestadobox=1" class="text-decoration-none">
            <div class="card bg-disponible h-100">
              <div class="card-header text-center fw-bold">Boxes Disponibles</div>
              <div class="card-body text-center">
                <h5 class="card-title" id="box-disponibles" style="font-size: 30px;">{{ box_disponibles }}</h5>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <a href="{% url 'box_list' %}?estadobox_idestadobox=2" class="text-decoration-none">
            <div class="card bg-ocupado h-100">
              <div class="card-header text-center fw-bold">Boxes Ocupados</div>
              <div class="card-body text-center">
                <h5 class="card-title" id="box-ocupados" style="font-size: 30px;">{{ box_ocupados }}</h5>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <a href="{% url 'box_list' %}?estadobox_idestadobox=3" class="text-decoration-none">
            <div class="card bg-no-disponible h-100">
              <div class="card-header text-center fw-bold">Boxes No Disponibles</div>
              <div class="card-body text-center">
                <h5 class="card-title" id="box-no-disponibles" style="font-size: 30px;">{{ box_no_disponibles }}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="text-center mt-3">
        <a href="{% url 'box_list' %}" class="btn btn-primary">Detalle</a>
      </div>

      <div class="mt-4">
        <h2 class="text-center mb-4">Cantidad de boxes por estado</h2>
        <div class="chart-container">
          <canvas id="boxChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let boxChart;
  let ocupacionChart;
  let topBoxesChart;
  

  function initTopBoxesChart(labels, data) {
    const ctx = document.getElementById('topBoxesChart').getContext('2d');
    topBoxesChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Número de ocupaciones',
          data: data,
          backgroundColor: '#5371d6',
          borderColor: '#ffffff',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          },
          title: {
            display: true,
          }
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Número de ocupaciones'
            }
          },
          x: {
            title: {
              display: true,
              text: 'Boxes'
            }
          }
        }
      }
    });
  }
  function initPieChart(disponibles, ocupados, noDisponibles) {
    const ctx = document.getElementById('boxChart').getContext('2d');
    boxChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Disponibles', 'Ocupados', 'No Disponibles'],
        datasets: [{
          data: [disponibles, ocupados, noDisponibles],
          backgroundColor: ['#a3c4f7', '#5371d6', '#a3a9f7'],
          borderColor: ['#ffffff', '#ffffff', '#ffffff'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
            align: 'middle'
          },
          tooltip: {
            callbacks: {
              label: function(tooltipItem) {
                return `${tooltipItem.label}: ${tooltipItem.raw}`;
              }
            }
          }
        }
      }
    });
  }

  function initLineChart(ocupacionData) {
    const intervalos = ocupacionData.map(item => item.intervalo);
    const ocupados = ocupacionData.map(item => item.ocupados);

    const ctx = document.getElementById('graficoOcupacion').getContext('2d');
    ocupacionChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: intervalos,
        datasets: [
          { 
            label: 'Cantidad de Boxes',
            data: ocupados,
            fill:true,
            borderColor: '#5371d6',
            fill: false
          },

        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false,
          },
        },
        scales: {
          x: {
            title: {
              display: true,
              text: 'Intervalo de Tiempo'
            },
            ticks: {
              maxRotation: 45,
              minRotation: 45
            }
          },
          y: {
            title: {
              display: true,
              text: 'Cantidad de Boxes'
            },
            suggestedMin: 0
          }
        }
      }
    });
  }

  function updateAllCharts(data) {
    document.querySelector(".bg-disponible h5").textContent = data.box_disponibles;
    document.querySelector(".bg-ocupado h5").textContent = data.box_ocupados;
    document.querySelector(".bg-no-disponible h5").textContent = data.box_no_disponibles;
    
    if (boxChart) {
      boxChart.data.datasets[0].data = [data.box_disponibles, data.box_ocupados, data.box_no_disponibles];
      boxChart.update();
    } else {
      initPieChart(data.box_disponibles, data.box_ocupados, data.box_no_disponibles);
    }
    
    if (ocupacionChart) {
      const intervalos = data.ocupacion_por_intervalo.map(item => item.intervalo);
      const ocupados = data.ocupacion_por_intervalo.map(item => item.ocupados);
      
      ocupacionChart.data.labels = intervalos;
      ocupacionChart.data.datasets[0].data = ocupados;
      ocupacionChart.update();
    } else {
      initLineChart(data.ocupacion_por_intervalo);
    }
    if (topBoxesChart) {
      topBoxesChart.data.labels = data.top_poco_ocupados.labels;
      topBoxesChart.data.datasets[0].data = data.top_poco_ocupados.data;
      topBoxesChart.update();
    } else {
      initTopBoxesChart(data.top_poco_ocupados.labels, data.top_poco_ocupados.data);
    }
  }
  
  
  const socket = new WebSocket('ws://' + window.location.host + '/ws/estadisticas/');

  socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    updateAllCharts(data);
  };

  socket.onopen = () => console.log("WebSocket del dashboard conectado");
  socket.onclose = () => console.log("WebSocket del dashboard desconectado");

  document.addEventListener('DOMContentLoaded', function() {
  const initialData = {
    box_disponibles: {{ box_disponibles }},
    box_ocupados: {{ box_ocupados }},
    box_no_disponibles: {{ box_no_disponibles }},
    ocupacion_por_intervalo: [], 
    top_poco_ocupados: {
      labels: [],
      data: []
    }
  };
  
  updateAllCharts(initialData);
  
 
});
</script>
{% endblock %}
