{% load static %}

<div class="sidebar-fixed text-white">
    <div class="w-12 h-12 d-flex justify-content-center align-items-center mb-4">
        
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'images/Logo.PNG' %}" alt="Logo" style="max-width: 100%; height: auto;">
        </a>
        
    </div>

    <button class="btn btn-link text-white fs-2 p-0 mb-3" style="border: none;">
        <i class="bi bi-file-earmark-text"></i>
    </button>
    <button class="btn btn-link text-white fs-2 p-0" style="border: none;">
        <i class="bi bi-bar-chart-line"></i>
    </button>
</div>
